body {
  background: #f0f0f0;
  font-family: "Noto Sans", sans-serif;
  font-weight: 350;
}

.container {
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  overflow-y: scroll;

  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  box-sizing: border-box;
}